.app_main {
  min-height: calc(100vh - 50px);
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 10px;
}
/* .fixed-header + .app_main {
  padding-top: 50px;
  height: 100vh;
  overflow: auto;
}
 */
