.navbar {
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  position: relative;
  background: #fff;
  box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
  display: flex;
}

.hamburger_icon {
  width: 20px;
  font-size: 20px;
  margin: 0 15px;
  cursor: pointer;
}

.userInfo {
  position: absolute;
  right: 20px;
  cursor: pointer;
  top: 0;
  span {
    font-size: 13px;
    font-weight: bold;
    padding-left: 3px;
  }
}
.userInfo:hover {
  .userInfo_arrow {
    transform: rotate(0deg);
  }
}
.userInfo_avatar {
  font-size: 24px;
}
.userInfo_arrow {
  transform: rotate(90deg);
  transition: transform 0.2s ease-out;
}
