@import "@/style/variable.module.scss";
@import "@/style/mixins.scss";
.sidebar_container {
  transition: width 0.28s;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 1001;
  width: $sidebar-width;
  background-color: $sidebar-bgcolor;
  color: #fff;
  user-select: none;
}
/* title component */
.sidebar_container_logo {
  width: 100%;
  height: 50px;
  background: $sidebartitle-bgcolor;
  color: #fff;
  cursor: pointer;
  line-height: 50px;
  overflow: hidden;
  h3 {
    margin: 0;
    float: left;
    width: calc(100% - 54px);
    @include ellipsis;
  }
  svg {
    font-size: 34px;
    float: left;
    margin: 8px 10px 0 10px;
  }
}
