input:-webkit-autofill {
  // 字体颜色
  -webkit-text-fill-color: #ededed !important;
  // 背景颜色
  background-color:transparent;
  // 背景图片
  background-image: none;
  // 过渡
  transition: background-color 50000s ease-in-out 0s;
}