.n-config-provider {
  width: 100%;
  height: 100%;
}

.n-menu-item-content svg {
  color: #bfcbd9;
  font-size: 16px;
}
.n-menu-item-content:hover {
  background-color: #263345 !important;
}

.n-menu .n-submenu {
  margin-top: 0;
}

.n-menu .n-menu-item::before {
  left: 0;
  right: 0;
}

.n-menu-item--selected svg {
  color: #409eff !important;
}
