/* 
  修改naive-ui 样式
*/
@import "./variable.module.scss";
.n-config-provider {
  width: 100%;
  height: 100%;
}

.n-submenu-children {
  background-color: $sidebarsub-bgcolor;
}

.n-menu .n-menu-item::before {
  left: 0;
  right: 0;
}

.n-menu-item-content svg {
  color: $sidebar-textcolor;
  font-size: 16px;
}

.n-menu-item-content:hover {
  // background-color: #263445!important;
  svg {
    color: #fff !important;
  }
}

.n-menu-item--selected {
  svg {
    color: #fff;
  }
}

.n-breadcrumb-item {
  padding-top: 2px;
}

.n-menu .n-menu-item-content.n-menu-item-content--child-active .n-menu-item-content__icon {
  svg {
    color: var(--n-item-text-color-child-active);
  }
}

.n-menu .n-menu-item:not(.n-menu-item--selected):hover {
  background-color: #263445 !important;
}
